*{
    box-sizing: border-box;
    // background-color: white;
}
button:focus{
    box-shadow: 0 0 0 0rem;
}
header{
    padding: 192px !important;
}
.box{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content:center;
    .int{
        width: 944px;height: 793px;
        border-radius: 10px;
        padding: 50px;
        background-color: white;
        // background-color: aquamarine;
        .click{
            width: 100%;
            height: 100px;
            // background-color: skyblue;
            border-bottom: solid 1px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .cont{
                display: flex;
                flex-direction: row;
                align-items: center;
                .ball{
                    width: 40px;height: 40px;
                    border-radius: 50%;
                    background-color: greenyellow;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 20px 0 0;
                }
                &::after{
                    width: 170px;height: 5px;background-color: aquamarine;
                    border-radius: 2.5px;
                    content: "";
                    display: block;
                }
                &:nth-child(1)::after{
                    background:linear-gradient(90deg, red 40%, black 50%);
                    
                }
                &:nth-last-child(1)::after{
                    display: none;
                }
            }
        }
        .food{
            .items{
                width: 100%;height: 80px;
                display: flex;align-items: center;padding: 10px;
                img{
                    width: 50px;border-radius: 50%;
                    margin-right: 20px;
                }
                .set{
                    h5{
                        margin-bottom: 0;
                    }
                }
                .quantity{
                    margin-left:auto ;
                    margin-right: 10px;
                    display: flex;
                    flex-direction: row;
                    .sub{
                        margin-right: 10px;
                    }
                    input{
                        width: 30px;
                        height: 20px;
                        margin-right: 10px;
                    }
                    .add{
                        margin-right: 30px;
                    }
                }
            }
        }
        .details{
            width: 100%;height: 120px;
            // background-color: darkblue;
            margin:0 0 30px auto;
            border-bottom: solid 1px;
            .sett{
                max-width: 250px;
                margin: 10px 0 10px auto;
                width: 100%;
                display: flex;
                justify-content: space-between;
                .ite{
                    color: red;
                }
            }
        }
        .but{
            display: flex;
            justify-content: space-between;
            button{
                width: 200px;
            }
        }
    }
}
footer{
    height: 52px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    span{
        padding: 0 20px;
    }
}