*{
    box-sizing: border-box;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    margin: 0;
}
.background{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url(https://dummyimage.com/1920x1080);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
}
.left{
    width: 50%;
    height: 100%;
    //使用RGBA 只針對背景顏色調整透明度
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 96px;
    opacity: unset;
    h1{
        color: white;
        font-size: 48px;
        line-height: 48px;
        margin: 16px 0;
    }
    p{
        color: white;
        font-size: 30px;
    }
}
.right{
    width: 50%;
    height: 100%;
    background-color: rgb(22, 36, 70);
    opacity: 0.1;
    opacity: 1 !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    img{
        margin: 0 auto;
        margin-top: -24px;
        margin-bottom: 96px;
        width: auto;
        max-height: 128px;
    }
    p{
        color: white;
        text-align: center;
        margin-bottom: 30px;
    }
    .in{
        width: 55%;
        margin: 0 auto;
        input{
            width: 100%;
            padding: 20px;
            border: 0px;
            border-radius: 1px;background-color: black;
        }
        .aa{
            margin-top: 15px;
            text-align: right;
            a{
                color: gray;
                text-decoration: none;
                transition: .5s;
                &:hover{
                    color: white;
                    text-decoration: underline;
                }
            }
            }
        button{
            display: block;
            padding: 15px;
            margin: 15px auto;
            width: 90%;
            border-radius: 28px;
            letter-spacing: 2px;
        }
    }
}