*{
    box-sizing: border-box;
    background-color: white;
}
button:focus{
    box-shadow: 0 0 0 0rem;
}
header{
    padding: 192px !important;
}
.section2{
    padding: 0 192px;
    .align{
        display: flex;
        justify-content: center;
        border: unset;
        div{
            margin: auto;
        }
        .card{
            width: calc(100% / 3);
            border: unset;
            margin: 0 auto;
            img{
                margin: 0 auto;
                border-radius: 50%;
                width: 100px;
            }
            h2{
                font-size: 24px;
            }
            p{
                min-width: 256px;
            }
        }
    }
    button{
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 96px;
    }
}
.section3{
    margin: 96px auto !important;
    width: 100% !important;
    padding:  0 10%;
    .head{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        h1{
            font-size: 30px !important;
            font-weight: 200;
        }
    }
    .block{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .block1{
            width: 50%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: flex-start;
            .fifty{
                width: 50%;
                padding: 5px;
            }
            .tenten{
                width: 100%;
                padding: 5px;
            }
        }
        .block2{
            width: 50%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .fifty{
                width: 50%;
                padding: 5px;
            }
            .tenten{
                width: 100%;
                padding: 5px;
            }
        }
    }
    margin-bottom: 100px !important;
}
.section4{
    width: 65%;
    text-align: center;
    margin: 0 auto;
    padding: 96px 0;
    .top{
        margin: 0 auto;
        width: 65%;
    }
    table{
        margin: 0 auto;
        margin-top: 80px;
        width: 80%;
        font-size: 14px;
        th{
            background-color: beige;
        }
        td{
            border-bottom: solid 1px;
        }
    }
    .bot{
        margin: 10px auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.section5{
    width: 80%;
    padding: 96px 20px;
    margin: 0 auto;
    .top{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        .font{
            font-size: 16px;
        }
    }
    .card-group{
        width: 100%;
        .card{
            margin: 0 20px;
            padding: 20px 20px 0px 20px;
            border-radius: 10px;
            font-size: 16px;
            line-height: 25px;
            border-left: solid 1px rgba(0, 0, 0, 0.125);
            img{
                border-radius: 5px !important;
            }
            h4{
                font-weight: 100;
                line-height: 15px;
            }
            h6{
                font-size: 12px;
                color: aquamarine;
            }
        }
    }
}
.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 96px;
    font-weight: 100;
    .card{
        padding-bottom: 40px;
        border: unset;
        border-bottom: solid 2px;
        .cardbody{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        img{
            width: 128px;height: 128px;
            border-radius: 50% !important;
        }
    }
}
.section7{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 96px auto;
    img{
        width: 600px;
        height: 600px;
        border-radius: 5px;
    }
    .card{
        border: unset;
        .g-0{
            padding: 50px;
        }
    }
}
.section8{
    width: 80%;
    margin: 96px auto;
    margin-top: 192px;
    display: flex;
    flex-wrap: wrap;
    .card{
        width: 25%;
        padding: 10px;
        border: unset;
        img{
            padding: 10px;
            border-radius: 15px;
        }
    }
}
.section9{
    filter: grayscale(0.8);
    padding: 0;
}
.section10{
    width: 80%;
    margin: 0 auto;
    padding: 96px 20px;
    display: flex;
    justify-content: space-around;
    div{
        width: 20%;
        margin: 0 auto;
        span{
            display: flex;
            align-items: center;
            img{
                width: 30%;
            }
        }
        p{
            max-width: 256px;
            font-size: 15px;
        }
        h2{
            font-size: 14px;
        }
        ul{
            list-style-type: none;
            padding: 0;
        }
    }
}
footer{
    height: 52px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    span{
        padding: 0 20px;
    }
}