*{
    box-sizing: border-box;
    // background-color: white;
}
button:focus{
    box-shadow: 0 0 0 0rem;
}
header{
    padding: 192px !important;
}
.section2{
    padding: 0 192px;
    .align{
        display: flex;
        justify-content: center;
        border: unset;
        div{
            margin: auto;
        }
        .card{
            width: calc(100% / 3);
            border: unset;
            margin: 0 auto;
            img{
                margin: 0 auto;
                border-radius: 50%;
                width: 100px;
            }
            h2{
                font-size: 24px;
            }
            p{
                min-width: 256px;
            }
        }
    }
    button{
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 96px;
    }
}
.section3{
    margin: 96px auto !important;
    width: 100% !important;
    padding:  0 10%;
    .head{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        h1{
            font-size: 30px !important;
            font-weight: 200;
        }
    }
    .block{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .block1{
            width: 50%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: flex-start;
            .fifty{
                width: 50%;
                padding: 5px;
            }
            .tenten{
                width: 100%;
                padding: 5px;
            }
        }
        .block2{
            width: 50%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .fifty{
                width: 50%;
                padding: 5px;
            }
            .tenten{
                width: 100%;
                padding: 5px;
            }
        }
    }
    margin-bottom: 100px !important;
}
.section4{
    width: 65%;
    text-align: center;
    margin: 0 auto;
    padding: 96px 0;
    .top{
        margin: 0 auto;
        width: 65%;
    }
    table{
        margin: 0 auto;
        margin-top: 80px;
        width: 80%;
        font-size: 14px;
        th{
            background-color: beige;
        }
        td{
            border-bottom: solid 1px;
        }
    }
    .bot{
        margin: 10px auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.section5{
    width: 80%;
    padding: 96px 20px;
    margin: 0 auto;
    .top{
        padding: 20px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
        .font{
            font-size: 16px;
        }
        h2::after{
            width: 15%;height: 4px;background-color: rgb(99, 102, 241);
            content: "";
            display: block;
            border-radius: 2px;
        }
    }
    .card-group{
        width: 100%;
        .card{
            margin: 0 20px;
            padding: 20px 20px 0px 20px;
            border-radius: 10px;
            font-size: 16px;
            line-height: 25px;
            border-left: solid 1px rgba(0, 0, 0, 0.125);
            img{
                border-radius: 5px !important;
            }
            h4{
                font-weight: 100;
                line-height: 15px;
            }
            h6{
                font-size: 12px;
                color: aquamarine;
            }
        }
    }
}
.section6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 96px;
    font-weight: 100;
    .card{
        padding: 40px 0;
        border: unset;
        border-bottom: solid 2px;
        .cardbody{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        img{
            width: 128px;height: 128px;
            border-radius: 50% !important;
        }
    }
    button{
        margin-top: 40px;
    }
}
.section7{
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    margin-top: 96px;
    .img{
        width: 50%;
        img{
            width: 100%;
            height: fit-content;
            min-height: 516px;
            border-radius: 5px;
        }
    }
    .card{
        border: unset;
        width: 50%;
        .g-0{
            padding: 20px 20px 0 20px;
            .col-md-8{
                width: 100%;
                .card-body{
                    width: 100% !important;
                    border-bottom: solid 1px;
                    .fon{
                        width: 40%;
                        border-right: solid 1px;
                        i{
                            font-size: 16px;
                            letter-spacing: -2px;
                        }
                        span{
                            margin-left: 20px;
                        }
                    }
                    .logo{
                        width: 50%;
                    }
                    .color{
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        h4{
                            margin-right: 5px;
                            margin-bottom: 0;
                            font-size: 20px;
                            font-weight: 100;
                        }
                        .ball{
                            display: flex;
                            justify-content: center;
                            .white{
                                width: 20px;height: 20px;background-color: white;
                                border-radius: 50%;
                                border: solid 2px;
                                margin: 5px;
                            }
                            .black{
                                width: 20px;height: 20px;background-color: black;
                                border-radius: 50%;
                                border: solid 2px;
                                margin: 5px;
                            }
                            .blue{
                                width: 20px;height: 20px;background-color: skyblue;
                                border-radius: 50%;
                                border: solid 2px;
                                margin: 5px;
                            }
                        }
                    }
                    .size{
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        margin-left: 50px;
                        select{
                            padding: 10px;
                            font-size: 16px;
                            border-radius: 5px;
                            border: solid 1px;
                            color: gray;
                        }
                    }
                }
                .buy{
                    margin-top: 25px;
                    display: flex;
                    justify-content: space-between;
                    button{
                        margin-left: 5px;
                    }
                    .heart{
                        border-radius: 50%;
                        height: 40px;width: 40px;
                        color: gray;
                        background-color: aqua;
                    }
                }
            }
        }
    }
    
}
.section8{
    width: 80%;
    margin: 96px auto;
    margin-top: 192px;
    display: flex;
    flex-wrap: wrap;
    .card{
        width: 25%;
        padding: 10px;
        border: unset;
        img{
            padding: 10px;
            border-radius: 15px;
        }
    }
}
.section9{
    position: relative;
    filter: grayscale(0.8);
    padding: 0;
    .Form_controls{
        h2{
            font-size: 18px;
        }
        p{
            font-size: 16px;
        }
        width: 25%;
        height: 70%;
        padding: 20px 30px;
        border-radius: 10px !important;
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
        .message{
            input{
                padding-bottom: 96px;
            }
        }
    }
    button{
        width: 100%;
        display: block;
        margin: 24px auto;
    }
    .sml{
        font-size: 12px !important;
    }
}
.section10{
    width: 80%;
    margin: 0 auto;
    padding: 96px 20px;
    display: flex;
    justify-content: space-around;
    div{
        width: 20%;
        margin: 0 auto;
        span{
            display: flex;
            align-items: center;
            img{
                width: 30%;
            }
        }
        p{
            max-width: 256px;
            font-size: 15px;
        }
        h2{
            font-size: 14px;
        }
        ul{
            list-style-type: none;
            padding: 0;
        }
    }
}
footer{
    height: 52px;
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    span{
        padding: 0 20px;
    }
}